CREATE DATABASE NewsMenuDb;
GO

USE NewsMenuDb;
GO


CREATE TABLE Menus
(
menu_id INT IDENTITY(1,1) PRIMARY KEY,
name NVARCHAR(255) NOT NULL,
slug NVARCHAR(255) NOT NULL UNIQUE,
display_order INT NOT NULL DEFAULT 0,
is_deleted BIT NOT NULL DEFAULT 0,
created_at DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
updated_at DATETIME2 NOT NULL DEFAULT GETUTCDATE()
);
GO


CREATE TABLE News
(
news_id INT IDENTITY(1,1) PRIMARY KEY,
title NVARCHAR(500) NOT NULL,
content NVARCHAR(MAX) NOT NULL,
summary NVARCHAR(1000) NULL,
is_published BIT NOT NULL DEFAULT 0,
is_deleted BIT NOT NULL DEFAULT 0,
created_at DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
updated_at DATETIME2 NOT NULL DEFAULT GETUTCDATE()
);
GO


CREATE TABLE MenuNews
(
    menu_id INT NOT NULL,
    news_id INT NOT NULL,
    assigned_at DATETIME2 NOT NULL DEFAULT GETUTCDATE(),

    CONSTRAINT PK_MenuNews
        PRIMARY KEY (menu_id, news_id)
);

CREATE INDEX IX_MenuNews_MenuId ON MenuNews(menu_id);
CREATE INDEX IX_MenuNews_NewsId ON MenuNews(news_id);
GO